@model MySqlBasicCore.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Homeessentials</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/css/animate.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    </environment>

    <link rel="icon" href="~/images/logo.svg" type="image/svg" sizes="16x16">
</head>
<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
           
            <div>


                <img src="~/images/logo.svg" class="hlogo" />

            </div>
            <p>Welcome to Homeessentials</p>
            <form class="m-t" role="form" method="post" action="@Settings.Value.WebBaseURL/Account/login">
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = "true" })
                </div>
                <div class="form-group">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = "true" })
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Sign in</button>

                @Html.ValidationSummary("", new { @class = "text-danger" })
                @if (ViewBag.ErrorMessage != null)
                {
                    <p class="text-danger text-center" role="alert">
                        @ViewBag.ErrorMessage
                    </p>
                }
            </form>
            <p class="m-t"> <small>Homeessentials application &copy; 2019-2020</small> </p>
        </div>
    </div>

</body>
</html>
