@model MySqlBasicCore.Models.DeptProjectionViewModel

@{
    ViewData["Title"] = "Department Projection";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="ibox-content">
                    <form method="post" asp-action="AddDeptProjection">


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="DeptName" class="control-label"></label>
                                <input asp-for="DeptName" class="form-control" placeholder="Department Name" maxlength="20" />
                                <span asp-validation-for="DeptName" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="mm" class="control-label"></label>
                                <input asp-for="mm" class="form-control" placeholder="MM" maxlength="11" />
                                <span asp-validation-for="mm" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Projection" class="control-label"></label>
                                <input asp-for="Projection" class="form-control" placeholder="Projection" maxlength="6" />
                                <span asp-validation-for="Projection" class="text-danger"></span>
                            </div>
                        </div>

                        @if (ViewBag.SuccessMessage != null)
                        {
                            <p class="text-primary">@ViewBag.SuccessMessage</p>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p class="text-error">@ViewBag.ErrorMessage</p>
                        }


                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white btn-sm" asp-action="DeptProjectionList">Cancel</a>
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
}
@section Scripts {
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $(document).ready(function () {

            $(".topNavBar li").removeClass("active");
            $("#liDataEntry").addClass("active");
            var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/DataEntry/DeptProjectionList"; }, 1000);

        }
          if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
        }
        });
    </script>
}