@model MySqlBasicCore.Models.ItemclassViewModel

@{
    ViewData["Title"] = "Add Item Class";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="ibox-content">
                    <form method="post" asp-action="AddItemClass">


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Class" class="control-label"></label>
                                <input asp-for="Class" class="form-control" placeholder="Class" maxlength="5" />
                                <span asp-validation-for="Class" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Desc" class="control-label"></label>
                                <input asp-for="Desc" class="form-control" placeholder="Desc" maxlength="40" />
                                <span asp-validation-for="Desc" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Dept" class="control-label"></label>
                                <input asp-for="Dept" class="form-control" placeholder="Dept" maxlength="25" />
                                <span asp-validation-for="Dept" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Market" class="control-label"></label>
                                <input asp-for="Market" class="form-control" placeholder="Market" maxlength="25" />
                                <span asp-validation-for="Market" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="Deptnum" class="control-label"></label>
                                <input asp-for="Deptnum" class="form-control" placeholder="Deptnum" maxlength="5" />
                                <span asp-validation-for="Deptnum" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-6">
                                <label asp-for="Buyer" class="control-label"></label>
                                <input asp-for="Buyer" class="form-control" placeholder="Buyer" maxlength="2" />
                                <span asp-validation-for="Buyer" class="text-danger"></span>
                            </div>
                        </div>
                        @if (ViewBag.SuccessMessage != null)
                        {
                            <p class="text-primary">@ViewBag.SuccessMessage</p>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p class="text-error">@ViewBag.ErrorMessage</p>
                        }

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white btn-sm" asp-action="ItemClassList">Cancel</a>
                                <button class="btn btn-primary btn-sm" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/DataEntry/ItemClassList"; }, 750);

        }
          if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
        }
        });
    </script>
}