@model MySqlBasicCore.Models.ItemViewModel
@{
    ViewBag.Title = "Inventory display";
    List<SelectListItem> operationList = new List<SelectListItem>();
    operationList.Add(new SelectListItem { Text = "Contains", Value = "Contains" });
    operationList.Add(new SelectListItem { Text = "Starts with", Value = "Starts with" });
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">
                    <form role="form" method="post" action="@Settings.Value.WebBaseURL/Inventory/Display">
                        @Html.HiddenFor(h => h.SearchItemnum)
                        @Html.HiddenFor(h => h.SearchDescription)
                        @Html.HiddenFor(h => h.Itemnum)
                        <div id="encodeSearchItemnumDescription" style="display:none">
                            @Html.Raw(@Model.SearchItemnum + "-" + @Model.SearchDescription)
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-form-label">Item Number/Description </div>
                            <div class="col-lg-5 srchTxt">
                                @Html.TextBoxFor(m => m.SearchItemnumDescription, new { @class = "form-control", placeholder = "Enter item number or description to search", @maxlength = "500", })
                                <span class="form-text m-b-none text-navy" style="margin-top:0.12rem"> *Note : Press PageUp for Next and PageDn for Previous Record</span>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group m-b">
                                    @Html.DropDownListFor(model => model.OperationType, new SelectList(operationList.Select(x => new { Value = x.Value, Text = x.Text }), "Value", "Text"), "Search", new { @class = "form-control" })
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-2" style="padding-left:0px;padding-right:0px;">
                                <button class="btn btn-primary" style="display:none" id="btnSearch" name="submit" value="submit" type="submit" onclick="return validateForm();">Search</button>
                                <button class="btn btn-primary btn-sm" value="down" name="submit" id="btnDown" type="submit">Previous</button>
                                <button class="btn btn-primary btn-sm" value="up" name="submit" id="btnUp" type="submit">Next</button>
                                <a id="btnExternal" style="display:none;"
                                   class="btn btn-primary btn-facebook btn-outline btn-sm"
                                   target="_blank" href="">
                                    <i class="fa fa-external-link"> </i>
                                </a>
                            </div>

                        </div>
                    </form>

                    @if (ViewBag.NoRecord == true)
                    {
                        <div class="card noItem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 text-error">No item found ! </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="card noItem" id="cardValidateError">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-error">Please enter item number or description to search item !</div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.ItemDetail != null)
                    {
                        <div class="ibox-content" id="displayBody">
                            <div class="row" style="margin-bottom:10px;">
                                <div class="col-lg-12 text-center">

                                    <b class="label label-warning">INVENTORY DISPLAY</b>

                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">1. ITEM NO.</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">

                                <div class="col-lg-2">
                                    <label class="col-form-label">VENDOR-ID</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Vendorcode" class="form-control" placeholder="MM" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">15. BULK CODE</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">PRODUCT LINE</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">16. QTY ON-HAND</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">WH</label>
                                </div>
                                <div class="col-md-2">
                                    <input value="" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">ITEM-ID</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">17. QTY COMMITTED</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.Commited" class="form-control" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">HFC</label>
                                </div>
                                <div class="col-md-2">
                                    <input value="HFC" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">2. DESC</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Description" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">18. QTY ON-ORDER</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Onorder" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">3. VENDOR ITEM NO.</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">19. DPT</label>
                                </div>
                                <div class="col-md-2">
                                    <input value="@ViewBag.ItemDetail.Deptnum" class="form-control" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">19. GRP</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">4. PRODUCT CATEGORY</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Category" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">CLASS</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.Class" class="form-control" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label" style="font-size:9px">20. SELEC. CODEP</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.Qrsselcode" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.Qrsseldesc" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">VENDOR NAME</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Vendor" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">VENDOR CODE</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.Vendorcode" class="form-control" />
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label" style="font-size:8.5px">21. GENERAL</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.GeneralCode" class="form-control" />
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.GeneralDesc" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">5. INDV/SET</label>
                                </div>
                                <div class="col-md-4">
                                    <label class="col-form-label">CLR</label>
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">22. MATERIAL</label>
                                </div>
                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.MaterialCode" class="form-control" />
                                </div>

                                <div class="col-md-1">
                                    <input value="@ViewBag.ItemDetail.MaterialDesc" class="form-control" />
                                </div>

                            </div>

                            <div class="row form-group">
                                <div class="col-lg-6">
                                    <label class="col-form-label">BOX STYLE</label>
                                </div>
                                <div class="col-md-2">
                                    <label class="col-form-label">23. USAGE</label>
                                </div>
                                <div class="col-lg-2">
                                    <input value="@ViewBag.ItemDetail.UsageCode" class="form-control" />
                                </div>
                                <div class="col-md-2">
                                    <input value="@ViewBag.ItemDetail.UsageDesc" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">6. LIST/NET PRICE</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">24. PATTERN</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.PatternCode" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">7. COST DISCNT/MULTI </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Cost" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">26 . WEIGHT</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Weight" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">8. PRICE1 (A) </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Price1" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">26. COUNTRY OF ORIGIN</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Origin" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">9. PRICE2 (B) </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Price2" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label" style="font-size:9px">27. VOLUME DISCOUNT BREAK</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Volume" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">10. PRICE3 (C) </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Price3" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label" style="font-size:10px">28. SOLD IN MULTIPLES OF</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">11. PRICE4 (D)</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">29. DEFECTIVE COUNT  </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Defectivecount" class="form-control" />
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">12. PRICE5 (E)</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">30. COST-PREVIOUS  </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Costprev" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">13. COST-CURRENT</label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Cost" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">31. LIST-PREVIOUS   </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="@ViewBag.ItemDetail.Listprev" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">14. COST AVERAGE </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">32. CUBIC FT  </label>
                                </div>
                                <div class="col-md-4">
                                    <input value="" class="form-control" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-lg-2">
                                    <label class="col-form-label">LANDING </label>
                                </div>
                                <div class="col-md-2">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">FOREIGN  </label>
                                </div>
                                <div class="col-md-2">
                                    <input value="" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="col-form-label">33. QTY PER CASE  </label>
                                </div>
                                <div class="col-lg-2 text-left">
                                    <input value="" class="form-control" />
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>





@section styles
{
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <style>
        @@media only screen and (min-width: 769px) {
              #displayBody label {
                    /*color: #1c84c6;*/
                    font-size: 11px;
                    font-weight: 600;
                }

            .srcTxt {
            margin-left:-6%
            }
            /* For mobile phones: */
            #displayBody .row {
                height: 22px;
                /*border-bottom: 1px solid #DDDDDD;
            margin-bottom: 5px;*/
            }

            .m-t {
                margin-top: 3px !important;
            }

            #displayBody {
                /*font-size: 12px !important;
            font-weight: bold;*/
                padding-top: 5px !important;
            }

                #displayBody label {
                    /*color: #1c84c6;*/
                    font-size: 11px;
                    font-weight: 600;
                }

            .innerlbl {
                padding-left: 3%
            }

            .lbl {
                width: 10%;
                padding-top: 0.5%;
            }

            .panel-heading {
                background-color: #f8f8f8;
                border-color: #e7e7e7;
            }

            .panel {
                border-color: #e7e7e7;
            }


            .label-primary {
                font-size: inherit;
            }

            #tabPanle {
            }

            .nav-tabs {
                border-bottom: none
            }

                .nav-tabs > li.active > a {
                    border-radius: 0px;
                    font-weight: bold;
                    border-radius: 0px;
                }

            .noItem {
                border-color: red;
                margin-top: 3%;
                margin-bottom: 3%
            }

            .ui-widget {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 0.75em;
                background-color: white;
                width: 27.5% !important;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            }

            .ui-menu-item {
                padding: 2px 2px;
                font-size: .675rem;
            }

            #displayBody .form-control {
                height: 25px !important;
                margin-bottom: 0.75rem !important;
            }
        }
    </style>
}
@section scripts
{
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
               $("#displayBody").find('input').prop("readonly","readonly")
         $('#OperationType').children('option')[0].remove()

           var checkItem = '@Model.SearchItemnum';
            if (checkItem) {
                $("#SearchItemnumDescription").val('@Model.SearchItemnum - @Model.SearchDescription');
                $("#SearchItemnum").val('@Model.SearchItemnum');
                $("#SearchDescription").val('@Model.SearchDescription');
                  $("#btnExternal").show();
                $("#btnExternal").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id="+checkItem);
                $("#lblItemNo").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id=" + checkItem);
                $("#lblItemNo").prop("target","_blank");

               }

                var noItem = '@ViewBag.NoRecord';
              if ($("#encodeSearchItemnumDescription").text().trim() != "-") {
                  $("#SearchItemnumDescription").val($("#encodeSearchItemnumDescription").text().trim());
              }


              var noItem = '@ViewBag.NoRecord';
              var PageLoad = '@ViewBag.PageLoad';
               var noRecordArrowKey = '@ViewBag.NoRecordArrowKey';
              if (PageLoad == 'True' || noRecordArrowKey == 'True') {

                   $("#SearchItemnumDescription").val('');
            }

            $("#cardValidateError").hide();
            $(".topNavBar li").removeClass("active");
            $("#liInventory").addClass("active");
            $(document).keydown(function (event) {
                //.ui-widget
                if (event.keyCode == 38 || event.keyCode == 33) {
                    if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                         $("#btnUp").trigger("click");
                    }
                }
                if (event.keyCode == 40 || event.keyCode == 34) {
                     if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                          $("#btnDown").trigger("click");
                    }
                }
                if (event.keyCode == 13) {
                    if (event.target.id == "SearchItemnumDescription") {
                        if ($("#SearchItemnumDescription").val().indexOf("-") == -1) {
                            $("#SearchItemnum").val($("#SearchItemnumDescription").val());
                            $("#SearchDescription").val($("#SearchItemnumDescription").val());
                            $("#SearchItemnumDescription").val();
                            $("#btnSearch").trigger('click');
                        }
                        else {
                            var itemValues = $("#SearchItemnumDescription").val().split(" - ");
                            $("#SearchItemnum").val(itemValues[0].trim());
                            $("#SearchDescription").val(itemValues[1].trim());
                            $("#SearchItemnumDescription").val(ui.item.value);
                            $("#btnSearch").trigger('click');
                        }

                    }
                    else {

                    }

                }
            });

        });
        function validateForm() {
            $("#cardValidateError").hide();
            var checkCount = 0;
            if ($("#SearchItemnumDescription").val()) {
                checkCount++;
            }

            if (checkCount > 0) {
                return true;
            }
            else {
                $("#cardValidateError").show();
                return false;
            }
        }


        $("#SearchItemnumDescription").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Inventory/GetItemDetail",
                    type: "POST",
                    dataType: "json",
                   data: { SearchItemnum: request.term, OperationType:$('#OperationType').val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Itemnum + " - " + item.Description, value: item.Itemnum + " - " + item.Description };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                try {

                    var itemValues = ui.item.value.split(" - ");
                    $("#SearchItemnum").val(itemValues[0].trim());
                    $("#SearchDescription").val(itemValues[1].trim());
                    $("#SearchItemnumDescription").val(ui.item.value);
                    $("#btnSearch").trigger('click');

                } catch (e) {

                }

            }

        });
    </script>
}