@model MySqlBasicCore.Models.EditIndsellCompoViewModel

@{
    ViewData["Title"] = "Edit Item Component";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="ibox-content">
                    <form method="post" asp-action="EditItemComponent">
                        <div class="row form-group">
                            <div class="col-lg-1">
                                <label class="col-form-label">
                                    Item
                                </label>
                            </div>

                            <div class="col-md-2">
                                <input asp-for="indSell_ItemMaster" class="form-control" placeholder="Item"
                                       readonly="readonly" />

                            </div>
                            <div class="col-md-4">
                                <input asp-for="Item_master" class="form-control" placeholder="Item"
                                       readonly="readonly" />

                            </div>
                            <div class="col-lg-1">
                                <label class="col-form-label">
                                    Allowed
                                </label>
                            </div>
                            <div class="col-md-2">
                                <input type="checkbox" id="masterChk" onclick="checkMasterChkFun()" style="width:25px;height:25px" class="form-control" placeholder="Allowed" />
                            </div>

                        </div>

                        <hr />

                        @for (int i = 0; i < Model.ItemComponentList.Count(); i++)
                        {
                            <div class="row form-group component" >
                                <div class="col-lg-1">
                                    <label class="col-form-label">
                                        Component
                                    </label>
                                </div>
                                <div class="col-md-2">
                                    <input asp-for="ItemComponentList[i].indSell_ItemComponent" readonly="readonly" class="form-control" placeholder="Component" />
                                </div>

                                <div class="col-md-4">
                                    <input asp-for="ItemComponentList[i].Item_component" class="form-control" readonly="readonly" placeholder="Component" />

                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">
                                        Allowed
                                    </label>
                                </div>

                                <div class="col-md-2">
                                    <input asp-for="ItemComponentList[i].indSell_Allowed_Bool" style="width:25px;height:25px" class="form-control" placeholder="Allowed" />
                                    <span asp-validation-for="ItemComponentList[i].indSell_Allowed_Bool" class="text-danger"></span>
                                </div>

                            </div>
                        }


                        @if (ViewBag.SuccessMessage != null)
                        {
                            <p class="text-primary">@ViewBag.SuccessMessage</p>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <p class="text-error">@ViewBag.ErrorMessage</p>
                        }

                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <a class="btn btn-white btn-sm" asp-action="ItemComponentList">Cancel</a>
                                <button class="btn btn-primary btn-sm" type="submit">Update</button>
                                <a class="btn btn-primary btn-sm" style="color:white"
                                   href="@Url.Action("EditItemComponent","Inventory",new { id = Model.indSell_ItemMaster ,status = "Next"})"
                                   >Next</a>
                                <a class="btn btn-primary btn-sm" style="color:white"
                                   href="@Url.Action("EditItemComponent","Inventory",new { id = Model.indSell_ItemMaster ,status = "Previous"})"
                                   >Previous</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">
        window.baseUrl = '@Settings.Value.WebBaseURL';

        var checkAll = '@ViewBag.showAll';

        if (checkAll=='1') {
            $("#masterChk").prop('checked',true);
        }

        $(document).ready(function () {



        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
          /// setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/Inventory/ItemComponentList"; }, 750);

        }
          if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
        }
        });

        function nextItemComponet(id) {
              window.location.href = window.baseUrl + "/Inventory/NextEditItemComponent/" + id;
        }

        function previousItemComponet(id) {
              window.location.href = window.baseUrl + "/Inventory/PreviousEditItemComponent/" + id;
        }

        function checkMasterChkFun() {
            if ($("#masterChk").prop("checked")) {
                $(".component input[type='checkbox']").each(function (ele, index) {
                    $(index).prop('checked', true);
                });
                
            }
            else {
                $(".component input[type='checkbox']").each(function (ele, index) {
                    $(index).prop('checked', false);
                });
            }
        }
        

    </script>
}
