@model MySqlBasicCore.Models.ItemViewModel
@{
    ViewBag.Title = "Item detail";
    List<SelectListItem> operationList = new List<SelectListItem>();
    operationList.Add(new SelectListItem { Text = "Contains", Value = "Contains" });
    operationList.Add(new SelectListItem { Text = "Starts with", Value = "Starts with" });
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">

                <div class="ibox-content">
                    <form role="form" method="post" action="@Settings.Value.WebBaseURL/Inventory/Items">
                        @Html.HiddenFor(h => h.SearchItemnum)
                        @Html.HiddenFor(h => h.SearchDescription)
                        @Html.HiddenFor(h => h.Itemnum)
                        <div id="encodeSearchItemnumDescription" style="display:none">
                            @Html.Raw(@Model.SearchItemnum + "-" + @Model.SearchDescription)
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-form-label">Item Number/Description </div>
                            <div class="col-lg-5 srcTxt" >
                                @Html.TextBoxFor(m => m.SearchItemnumDescription, new { @class = "form-control", placeholder = "Enter item number or description to search", @maxlength = "500", })
                                <span class="form-text m-b-none text-navy" style="margin-top:0.12rem"> *Note : Press PageUp for Next and PageDn for Previous Record</span>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group m-b">
                                    @Html.DropDownListFor(model => model.OperationType, new SelectList(operationList.Select(x => new { Value = x.Value, Text = x.Text }), "Value", "Text"), "Search", new { @class = "form-control" })
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-2" style="padding-left:0px;padding-right:0px;">
                                <button class="btn btn-primary" style="display:none" id="btnSearch" name="submit" value="submit" type="submit" onclick="return validateForm();">Search</button>
                                <button class="btn btn-primary btn-sm" value="down" name="submit" id="btnDown" type="submit">Previous</button>
                                <button class="btn btn-primary btn-sm" value="up" name="submit" id="btnUp" type="submit">Next</button>
                                <a id="btnExternal" style="display:none" class="btn btn-primary btn-facebook btn-outline btn-sm"
                                   target="_blank" href="">
                                    <i class="fa fa-external-link"> </i>
                                </a>
                            </div>

                        </div>
                    </form>
                    @if (ViewBag.NoRecord == true)
                    {
                        <div class="card noItem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 text-error">No item found ! </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card noItem" id="cardValidateError">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-error">Please enter item number or description to search item !</div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.ItemDetail != null)
                    {
                        <div id="tabPanle" class="tabs-container" style="margin-top:1%">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" id="itemSummaryTab" href="#itemSummary" data-toggle="tab">Item Summary</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="itemInventoryTab" href="#itemInventory" data-toggle="tab">Inventory Price Lookup</a>
                                </li>
                                <li>
                                    <a class="nav-link" id="itemDisplayTab" href="#itemDisplay" data-toggle="tab">Item Display</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content clearfix">
                            <div class="tab-pane active" id="itemSummary">
                                <div class="ibox-content">
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ITEM NUMBER</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">NAME</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Class" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">DESCRIPTION</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Description" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PRODUCT MATERIAL</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.MaterialDesc" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PACKAGING</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Pack" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">CATEGORY</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Category" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="cardIem">




                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="itemInventory">
                                <div class="ibox-content">
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ORIGIN:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Origin" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">INNER PACK:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Innerpack" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ITEM #</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">CASE PACK:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <input value="@ViewBag.ItemDetail.Casepack" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">DESCRIPTION:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Description" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">WEIGHT:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Weight" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">WEIGHT:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Weight" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">UPC CODE:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Upc" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">CATG:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Category" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PALET:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PRICE A</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Min1" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Price1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ON ORDER:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Onorder" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label" style="font-size:10px;">ON WATER:</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Onwater" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PRICE B</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Min2" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Price2" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PRICE C</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Min3" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Price3" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label" style="font-weight:bold">DIMENSIONS</label>
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">MASTER</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Casepack" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.CaseLength" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.CaseWidth" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">SINGLE</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.BoxLength" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.BoxWidth" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.BoxHeight" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ITEM</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.ItemLength" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.ItemWidth" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.ItemHeight" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">CONT</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@(((ViewBag.ItemDetail.Casepack ?? 0) * (ViewBag.ItemDetail.BoxLength ?? 0) * (ViewBag.ItemDetail.ItemLength ?? 0)) / 1728)" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@(((ViewBag.ItemDetail.CaseLength ?? 0) * (ViewBag.ItemDetail.BoxWidth ?? 0) * (ViewBag.ItemDetail.ItemWidth ?? 0)) / 1728)" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@(((ViewBag.ItemDetail.CaseWidth ?? 0) * (ViewBag.ItemDetail.BoxHeight ?? 0) * (ViewBag.ItemDetail.ItemHeight ?? 0)) / 1728)" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">IN STOCK</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Onhand" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label">POE ORDER</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label">POE WATER</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">COMMITTED</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@ViewBag.ItemDetail.Commited" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">AVAILABLE:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@(ViewBag.ItemDetail.Onhand - ViewBag.ItemDetail.Commited)" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">HFC:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>


                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PROPOSALS:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="@(ViewBag.ItemDetail.Proposal)" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">REG. WHSE:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">OTHR WHSE:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">LOC:</label>
                                        </div>
                                        <div class="col-md-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="12212" class="form-control" />
                                        </div>
                                        <div class="col-md-2">
                                            <input value="12212" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="cardIem">

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="itemDisplay">
                                <div class="ibox-content">
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">ITEM</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">Price A</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price1" class="form-control" />
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price1" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">Price B</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price2" class="form-control" />
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price2" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">Price C</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price3" class="form-control" />
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price3" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label" style="font-weight:bold">Item Detail</label>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">Op Price</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Price1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">COST</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Cost" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">YTD</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Ytdsales" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">D1</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="D1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">Map Price</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">LAND</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Landedcost" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">LYR</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Lysales" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">D1</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="D1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">Average YTD Price</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="D1" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">OHAND</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Onhand" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">COMTD</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Comtd" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">VARS</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="VARS" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">Average LYR Price</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">ONORDER</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Onorder" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">HFC</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Hfc" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">PROPOS</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Propos" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">CATG</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Category" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">Average 2YR Price</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="2YR" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">VENDOR</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Vendor" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">CODE</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Vendorcode" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">CASE</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Casepack" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">WT</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Weight" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label" style="font-weight:bold">DIMENSIONS</label>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">TARRIF</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Tarrif" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">RATE</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Rate" class="form-control" />
                                        </div>
                                        <div class="col-lg-1">
                                            <label class="col-form-label">FIXED</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="Fixed" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">MASTER</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="12212" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">SINGLE</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="12212" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-1">
                                            <label class="col-form-label">ITEM</label>
                                        </div>
                                        <div class="col-md-1">
                                            <input value="@ViewBag.ItemDetail.Itemnum" class="form-control" />
                                        </div>

                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <label class="col-form-label">ETV ||</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">DATE</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">DAYS</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">QUANTITY</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">COST</label>
                                        </div>
                                        <div class="col-lg-2">
                                            <label class="col-form-label">PORT</label>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                        <div class="col-lg-2">
                                            <input value="1" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="cardIem">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section styles
{
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <style>
         .tab-content label {
            /*color: #1c84c6;*/
            text-transform: uppercase;
            font-size:11px;
            font-weight:600;
        }
        @@media only screen and (min-width: 769px) {
        
        
        .srcTxt {
            margin-left:-6%
            }
        .todo-list.small-list > li {
            padding: 4px 4px 4px 10px !important;
        }

        .tabs-container .nav-tabs {
            border-bottom: none
        }

        .tab-pane .ibox-content {
            border-top: none
        }

        .tab-content {
            font-size: 13px;
            font-weight: bold !important;
        }

        .cardIem {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem
        }

        span.text-primary {
            color: #1ab394 !important;
            box-shadow: inset 0 0 0 #1ab394, 0 2.5px 0 0 #1ab394, 0 0px 0px #999999 !important;
        }

        .m-t {
            margin-top: 3px !important;
        }

        .cardIem .row {
            height: 22px;
        }

        .innerlbl {
            padding-left: 3%
        }

        .lbl {
            width: 10%;
            padding-top: 0.5%;
        }

        .panel-heading {
            background-color: #f8f8f8;
            border-color: #e7e7e7;
        }

        .panel {
            border-color: #e7e7e7;
        }

        .tab-content label {
            /*color: #1c84c6;*/
            text-transform: uppercase;
            font-size:11px;
            font-weight:600;
        }


        .label-primary {
            font-size: inherit;
        }

        .tab-content .form-control {
            height: 25px !important;
            margin-bottom: 0.75rem !important;
        }
          .tab-content .row {
            height: 22px;
            /*border-bottom: 1px solid #DDDDDD;
            margin-bottom: 5px;*/
        }

        .nav-tabs {
            border-bottom: none
        }

            .nav-tabs > li.active > a {
                border-radius: 0px;
                font-weight: bold;
                border-radius: 0px;
            }

        .noItem {
            border-color: red;
            margin-top: 3%;
            margin-bottom: 3%
        }

        .ui-widget {
            font-family: Arial,Helvetica,sans-serif;
            font-size: 0.75em;
            background-color: white;
            width: 27.5% !important;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
        }

        .ui-menu-item {
            padding: 2px 2px;
            font-size: .675rem;
        }
        }
        
    </style>
}
@section scripts
{
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#OperationType').children('option')[0].remove()


            var PageLoad = '@ViewBag.PageLoad';

            if (PageLoad=='True') {
                 window.localStorage.setItem('activeTab', '');
            }
            else {
                var activeTab = window.localStorage.getItem('activeTab');
                if (activeTab) {
                    $("#" + activeTab).trigger("click");
                }
             }

            var checkItem = '@Model.SearchItemnum';
            if (checkItem) {
                $("#SearchItemnumDescription").val('@Model.SearchItemnum - @Model.SearchDescription');
                $("#SearchItemnum").val('@Model.SearchItemnum');
                $("#SearchDescription").val('@Model.SearchDescription');
                $("#btnExternal").show();
                $("#btnExternal").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id="+checkItem);
                $("#lblItemNo").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id=" + checkItem);
                $("#lblItemNo").prop("target","_blank");
               }

             if ($("#encodeSearchItemnumDescription").text().trim() != "-") {
                  $("#SearchItemnumDescription").val($("#encodeSearchItemnumDescription").text().trim());
              }

              var noItem = '@ViewBag.NoRecord';
              var noRecordArrowKey = '@ViewBag.NoRecordArrowKey';
              if (PageLoad == 'True' || noRecordArrowKey == 'True') {

                   $("#SearchItemnumDescription").val('');
            }

            $("#cardValidateError").hide();
            $(".topNavBar li").removeClass("active");
            $("#liInventory").addClass("active");
            $(document).keydown(function (event) {

                if (event.keyCode == 38 || event.keyCode == 33) {
                    if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                         $("#btnUp").trigger("click");
                    }
                }
                if (event.keyCode == 40 || event.keyCode == 34) {
                    if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                          $("#btnDown").trigger("click");
                    }
                }
                 if (event.keyCode == 13) {
                    if (event.target.id == "SearchItemnumDescription") {
                    if ($("#SearchItemnumDescription").val().indexOf("-") == -1) {
                            $("#SearchItemnum").val($("#SearchItemnumDescription").val());
                            $("#SearchDescription").val($("#SearchItemnumDescription").val());
                            $("#SearchItemnumDescription").val();
                            $("#btnSearch").trigger('click');
                        }
                        else {
                            var itemValues = $("#SearchItemnumDescription").val().split(" - ");
                            $("#SearchItemnum").val(itemValues[0].trim());
                            $("#SearchDescription").val(itemValues[1].trim());
                            $("#SearchItemnumDescription").val(ui.item.value);
                            $("#btnSearch").trigger('click');
                        }
                    }

                }
            });
            $(".btn").on("click", function () {
                  window.localStorage.setItem('activeTab', $("#tabPanle .active").prop('id'));
        })
        });
        function validateForm() {
            $("#cardValidateError").hide();
            var checkCount = 0;
            if ($("#SearchItemnumDescription").val()) {
                checkCount++;
            }

            if (checkCount > 0) {
                return true;
            }
            else {
                $("#cardValidateError").show();
                return false;
            }
        }
        $("#SearchItemnumDescription").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Inventory/GetItemDetail",
                    type: "POST",
                    dataType: "json",
                    data: { SearchItemnum: request.term, OperationType:$('#OperationType').val() },
                    success: function (data) {
                        if (data) {
                        response($.map(data, function (item) {
                            return { label: item.Itemnum.trim() + " - " + item.Description.trim(), value: item.Itemnum.trim() + " - " + item.Description.trim() };
                        }))
                        }
                        $("#btnExternal").prop("href", "");
                        $("#btnExternal").hide();

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                try {

                    var itemValues = ui.item.value.split(" - ");
                    $("#SearchItemnum").val(itemValues[0].trim());
                    $("#SearchDescription").val(itemValues[1].trim());
                    $("#SearchItemnumDescription").val(ui.item.value);
                    $("#btnSearch").trigger('click');

                } catch (e) {

                }

            }

        });


    </script>
}