@model MySqlBasicCore.Models.ItemViewModel
@{
    ViewBag.Title = "Item detail";
    List<SelectListItem> operationList = new List<SelectListItem>();
    operationList.Add(new SelectListItem { Text = "Contains", Value = "Contains" });
    operationList.Add(new SelectListItem { Text = "Starts with", Value = "Starts with" });
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-content">
                    <form role="form" method="post" action="@Settings.Value.WebBaseURL/Inventory/ItemRules">
                        @Html.HiddenFor(h => h.SearchItemnum)
                        @Html.HiddenFor(h => h.SearchDescription)
                        @Html.HiddenFor(h => h.Itemnum)
                        <div id="encodeSearchItemnumDescription" style="display:none">
                            @Html.Raw(@Model.SearchItemnum + "-" + @Model.SearchDescription)
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-form-label">Item Number/Description </div>
                            <div class="col-lg-5 srcTxt">
                                @Html.TextBoxFor(m => m.SearchItemnumDescription, new { @class = "form-control", placeholder = "Enter item number or description to search", @maxlength = "500", })
                                <span class="form-text m-b-none text-navy" style="margin-top:0.12rem"> *Note : Press PageUp for Next and PageDn for Previous Record</span>
                            </div>
                            <div class="col-lg-2">
                                <div class="input-group m-b">
                                    @Html.DropDownListFor(model => model.OperationType, new SelectList(operationList.Select(x => new { Value = x.Value, Text = x.Text }), "Value", "Text"), "Search", new { @class = "form-control" })
                                    <div class="input-group-prepend">
                                        <span class="input-group-addon"><i class="fa fa-filter"></i></span>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-2" style="padding-left:0px;padding-right:0px;">
                                <button class="btn btn-primary" style="display:none" id="btnSearch" name="submit" value="submit" type="submit" onclick="return validateForm();">Search</button>
                                <button class="btn btn-primary btn-sm" value="down" name="submit" id="btnDown" type="submit">Previous</button>
                                <button class="btn btn-primary btn-sm" value="up" name="submit" id="btnUp" type="submit">Next</button>
                                <a id="btnExternal" style="display:none" class="btn btn-primary btn-facebook btn-outline btn-sm"
                                   target="_blank" href="">
                                    <i class="fa fa-external-link"> </i>
                                </a>
                            </div>

                        </div>
                    </form>
                    @if (ViewBag.NoRecord == true)
                    {
                        <div class="card noItem">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 text-error">No item found ! </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="card noItem" id="cardValidateError">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 text-error">Please enter item number or description to search item !</div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.ItemDetail != null)
                    {
                <div class="ibox-content" id="displayBody">

                    <div class="row form-group">
                        <div class="col-lg-1">
                            <label class="col-form-label">Item </label>
                        </div>
                        <div class="col-md-1">
                            <label class="col-form-label" style="font-weight:bold">[ @ViewBag.ItemDetail.Itemnum ]</label>
                        </div>
                        <div class="col-lg-1">
                            <label class="col-form-label">Description </label>
                        </div>
                        <div class="col-md-2">
                            <label class="col-form-label" style="font-weight:bold">[ @ViewBag.ItemDetail.Description ]</label>
                        </div>
                        <div class="col-lg-1">
                            @if (Convert.ToString(ViewBag.ItemDetail.RulePassed) == "1")
                            {
                                <label class="col-form-label label label-primary">Passed </label>

                            }
                            else
                            {
                                <label class="col-form-label label label-danger">Failed </label>
                            }

                        </div>
                    </div>
                    <hr style="margin-top:15px;margin-bottom:15px" />
                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label">Field </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label">Rule </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label">Value </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label">Status </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Deleted On </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Empty  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @(Convert.ToString(ViewBag.ItemDetail.Deleted) == "0" ? "" : "1") </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">
                                @if (Convert.ToString(ViewBag.ItemDetail.Deleted) == "0")
                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Category </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Between 3 and 6 OR equal to 13  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">@ViewBag.ItemDetail.Category  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if ((Convert.ToInt16(ViewBag.ItemDetail.Category) >= 3
                             && Convert.ToInt16(ViewBag.ItemDetail.Category) <= 6) ||
                           (Convert.ToInt16(ViewBag.ItemDetail.Category) == 13))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> On Order </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Greater than zero  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">@Convert.ToString(ViewBag.ItemDetail.Onorder)  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">
                                @if ((!String.IsNullOrEmpty(Convert.ToString(ViewBag.ItemDetail.Onorder)) &&
                                          Convert.ToInt16(ViewBag.ItemDetail.Onorder) > 0))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> On Water </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Greater than zero  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @Convert.ToString(ViewBag.ItemDetail.Onwater) </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">
                                @if ((!String.IsNullOrEmpty(Convert.ToString(ViewBag.ItemDetail.Onwater)) &&
                                         Convert.ToInt16(ViewBag.ItemDetail.Onwater) > 0))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> On Hand </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Greater than zero  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @Convert.ToString(ViewBag.ItemDetail.Onhand) </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if ((!String.IsNullOrEmpty(Convert.ToString(ViewBag.ItemDetail.Onhand)) &&
                                       Convert.ToInt16(ViewBag.ItemDetail.Onhand) > 0))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Has Location </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> 1  </label>
                        </div>
                        <div class="col-lg-2">
                            @*<label class="col-form-label" style="font-weight:bold">
                     @Convert.ToString(ViewBag.ItemDetail.hasLocation)
                </label>*@
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @*<label class="col-form-label" style="font-weight:bold">

                        @if (Convert.ToString(ViewBag.ItemDetail.hasLocation) == "0")

                        {
                            <span class="label label-primary">Passed</span>

                        }
                        else
                        {
                            <span class="label label-danger">Failed</span>
                        }

                    </label>*@

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">General Code</label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> ['NEW','SSN','SSI','SSL','SSF']  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @Convert.ToString(ViewBag.ItemDetail.GeneralCode) </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if ((Convert.ToString(ViewBag.ItemDetail.GeneralCode) == "NEW") ||
                               (Convert.ToString(ViewBag.ItemDetail.GeneralCode) == "SSN") ||
                               (Convert.ToString(ViewBag.ItemDetail.GeneralCode) == "SSI") ||
                               (Convert.ToString(ViewBag.ItemDetail.GeneralCode) == "SSL") ||
                               (Convert.ToString(ViewBag.ItemDetail.GeneralCode) == "SSF"))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">General Code </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Not In ['EXL','TRE','CON']  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @Convert.ToString(ViewBag.ItemDetail.GeneralCode)  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if ((Convert.ToString(ViewBag.ItemDetail.GeneralCode) != "EXL") &&
                             (Convert.ToString(ViewBag.ItemDetail.GeneralCode) != "TRE") &&
                             (Convert.ToString(ViewBag.ItemDetail.GeneralCode) != "CON"))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Itemnum </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> [0,1,2,3,4,5,6,7,8,9]  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if ((Convert.ToString(ViewBag.ItemDetail.Itemnum) == "0") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "1") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "2") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "3") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "4") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "5") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "6") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "7") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "8") ||
                           (Convert.ToString(ViewBag.ItemDetail.Itemnum) == "9"))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">Usage Code</label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Not equal to ''  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">@ViewBag.ItemDetail.UsageCode  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">

                                @if (!string.IsNullOrEmpty(ViewBag.ItemDetail.UsageCode))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }

                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Pattern Code </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Not equal to ''  </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> @ViewBag.ItemDetail.PatternCode </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">
                                @if (!string.IsNullOrEmpty(ViewBag.ItemDetail.PatternCode))

                                {
                                    <span class="label label-primary">Passed</span>

                                }
                                else
                                {
                                    <span class="label label-danger">Failed</span>
                                }
                            </label>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> Has Photo </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> 1  </label>
                        </div>
                        <div class="col-lg-2">
                            @*<label class="col-form-label" style="font-weight:bold">
                @Convert.ToString(ViewBag.ItemDetail.hasPhoto) </label>*@
                        </div>
                        <div class="col-lg-2">
                            @*<label class="col-form-label" style="font-weight:bold">

                    @if (Convert.ToString(ViewBag.ItemDetail.hasPhoto) == "0")

                    {
                        <span class="label label-primary">Passed</span>

                    }
                    else
                    {
                        <span class="label label-danger">Failed</span>
                    }

                </label>*@
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold">Factory Photo </label>
                        </div>
                        <div class="col-lg-2">
                            <label class="col-form-label" style="font-weight:bold"> 0  </label>
                        </div>
                        <div class="col-lg-2">
                            @*<label class="col-form-label" style="font-weight:bold"> @Convert.ToString(ViewBag.ItemDetail.factoryPhoto) </label>*@
                        </div>
                        <div class="col-lg-2">
                            @*<label class="col-form-label" style="font-weight:bold">

                    @if (Convert.ToString(ViewBag.ItemDetail.factoryPhoto) == "0")

                    {
                        <span class="label label-primary">Passed</span>

                    }
                    else
                    {
                        <span class="label label-danger">Failed</span>
                    }

                </label>*@
                        </div>
                    </div>



                    <div style="margin-top:25px" class="row form-group">
                       
                        
                        <div class="col-lg-12">
                            <b style="margin-right:15px">DB Rule :</b>

                            (ISNULL(`HEANDB`.`items`.`deletedon`)
                            AND ((`HEANDB`.`items`.`category` BETWEEN 3
                            AND 6)
                            OR (`HEANDB`.`items`.`category` = 13))
                            AND ((`HEANDB`.`items`.`onorder` > 0)
                            OR (`HEANDB`.`items`.`onwater` > 0)
                            OR (`HEANDB`.`items`.`onhand` > 50)
                            OR ((`HEANDB`.`items`.`onhand` > 9)
                            AND (`HEANDB`.`items`.`hasLocation` = 1))
                            OR (`HEANDB`.`items`.`generalCode` = _latin1'NEW')
                            OR (`HEANDB`.`items`.`generalCode` = _latin1'SSN')
                            OR (`HEANDB`.`items`.`generalCode` = _latin1'SSI')
                            OR (`HEANDB`.`items`.`generalCode` = _latin1'SSL')
                            OR (`HEANDB`.`items`.`generalCode` = _latin1'SSF'))
                            AND (`HEANDB`.`items`.`generalCode` <> _latin1'EXL')
                            AND (`HEANDB`.`items`.`generalCode` <> _latin1'TRE')
                            AND (`HEANDB`.`items`.`generalCode` <> _latin1'CON')
                            AND (`HEANDB`.`items`.`itemnum` REGEXP _latin1'^[0-9]')
                            AND (`HEANDB`.`items`.`price1` > 0)
                            AND (COALESCE(`HEANDB`.`items`.`usageCode`,_latin1'') <> _latin1'')
                            AND (COALESCE(`HEANDB`.`items`.`patternCode`,_latin1'') <> _latin1'')
                            AND (`HEANDB`.`items`.`hasPhoto` = 1)
                            AND (`HEANDB`.`items`.`factoryPhoto` = 0
                        </div>
                    
                    </div>


                    </div>
                    }
                </div>
            </div>
        </div>
    </div>

</div>

@section styles
{
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .tab-content label {
            /*color: #1c84c6;*/
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
        }

        @@media only screen and (min-width: 769px) {


            .srcTxt {
                margin-left: -6%
            }

            .todo-list.small-list > li {
                padding: 4px 4px 4px 10px !important;
            }

            .tabs-container .nav-tabs {
                border-bottom: none
            }

            .tab-pane .ibox-content {
                border-top: none
            }

            .tab-content {
                font-size: 13px;
                font-weight: bold !important;
            }

            .cardIem {
                padding-top: 0.25rem;
                padding-bottom: 0.25rem
            }

            span.text-primary {
                color: #1ab394 !important;
                box-shadow: inset 0 0 0 #1ab394, 0 2.5px 0 0 #1ab394, 0 0px 0px #999999 !important;
            }

            .m-t {
                margin-top: 3px !important;
            }

            .cardIem .row {
                height: 22px;
            }

            .innerlbl {
                padding-left: 3%
            }

            .lbl {
                width: 10%;
                padding-top: 0.5%;
            }

            .panel-heading {
                background-color: #f8f8f8;
                border-color: #e7e7e7;
            }

            .panel {
                border-color: #e7e7e7;
            }

            .tab-content label {
                /*color: #1c84c6;*/
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 600;
            }


            .label-primary {
                font-size: inherit;
            }

            .tab-content .form-control {
                height: 25px !important;
                margin-bottom: 0.75rem !important;
            }

            .tab-content .row {
                height: 22px;
                /*border-bottom: 1px solid #DDDDDD;
            margin-bottom: 5px;*/
            }

            .nav-tabs {
                border-bottom: none
            }

                .nav-tabs > li.active > a {
                    border-radius: 0px;
                    font-weight: bold;
                    border-radius: 0px;
                }

            .noItem {
                border-color: red;
                margin-top: 3%;
                margin-bottom: 3%
            }

            .ui-widget {
                font-family: Arial,Helvetica,sans-serif;
                font-size: 0.75em;
                background-color: white;
                width: 27.5% !important;
                box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
            }

            .ui-menu-item {
                padding: 2px 2px;
                font-size: .675rem;
            }
        }

        input:-moz-read-only { /* For Firefox */
            background-color: white !important;
        }

        input:read-only {
            background-color: white !important;
        }
    </style>
}
@section scripts
{
    @*<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>

    <script type="text/javascript">



        $(document).ready(function () {

            $('#OperationType').children('option')[0].remove()
        $(".tab-content").find('input').prop("readonly","readonly")

            var PageLoad = '@ViewBag.PageLoad';

            if (PageLoad=='True') {
                 window.localStorage.setItem('activeTab', '');
            }
            else {
                var activeTab = window.localStorage.getItem('activeTab');
                if (activeTab) {
                    $("#" + activeTab).trigger("click");
                }
             }

            var checkItem = '@Model.SearchItemnum';
            if (checkItem) {
                $("#SearchItemnumDescription").val('@Model.SearchItemnum - @Model.SearchDescription');
                $("#SearchItemnum").val('@Model.SearchItemnum');
                $("#SearchDescription").val('@Model.SearchDescription');
                $("#btnExternal").show();
                $("#btnExternal").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id="+checkItem);
                $("#lblItemNo").prop("href", "https://www.homeessentials.com/modules/inventory/details.php?id=" + checkItem);
                $("#lblItemNo").prop("target","_blank");
               }

             if ($("#encodeSearchItemnumDescription").text().trim() != "-") {
                  $("#SearchItemnumDescription").val($("#encodeSearchItemnumDescription").text().trim());
              }

              var noItem = '@ViewBag.NoRecord';
              var noRecordArrowKey = '@ViewBag.NoRecordArrowKey';
              if (PageLoad == 'True' || noRecordArrowKey == 'True') {

                   $("#SearchItemnumDescription").val('');
            }

            $("#cardValidateError").hide();
            $(".topNavBar li").removeClass("active");
            $("#liInventory").addClass("active");
            $(document).keydown(function (event) {

                if (event.keyCode == 38 || event.keyCode == 33) {
                    if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                         $("#btnUp").trigger("click");
                    }
                }
                if (event.keyCode == 40 || event.keyCode == 34) {
                    if (!$(event.target).hasClass('ui-autocomplete-input') && !$(event.target).hasClass('ui-autocomplete-input')) {
                          $("#btnDown").trigger("click");
                    }
                }
                 if (event.keyCode == 13) {
                    if (event.target.id == "SearchItemnumDescription") {
                    if ($("#SearchItemnumDescription").val().indexOf("-") == -1) {
                            $("#SearchItemnum").val($("#SearchItemnumDescription").val());
                            $("#SearchDescription").val($("#SearchItemnumDescription").val());
                            $("#SearchItemnumDescription").val();
                            $("#btnSearch").trigger('click');
                        }
                        else {
                            var itemValues = $("#SearchItemnumDescription").val().split(" - ");
                            $("#SearchItemnum").val(itemValues[0].trim());
                            $("#SearchDescription").val(itemValues[1].trim());
                            $("#SearchItemnumDescription").val(ui.item.value);
                            $("#btnSearch").trigger('click');
                        }
                    }

                }
            });
            $(".btn").on("click", function () {
                  window.localStorage.setItem('activeTab', $("#tabPanle .active").prop('id'));
        })
        });
        function validateForm() {
            $("#cardValidateError").hide();
            var checkCount = 0;
            if ($("#SearchItemnumDescription").val()) {
                checkCount++;
            }

            if (checkCount > 0) {
                return true;
            }
            else {
                $("#cardValidateError").show();
                return false;
            }
        }
        $("#SearchItemnumDescription").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Inventory/GetItemDetail",
                    type: "POST",
                    dataType: "json",
                    data: { SearchItemnum: request.term, OperationType:$('#OperationType').val() },
                    success: function (data) {
                        if (data) {
                        response($.map(data, function (item) {
                            return { label: item.Itemnum.trim() + " - " + item.Description.trim(), value: item.Itemnum.trim() + " - " + item.Description.trim() };
                        }))
                        }
                        $("#btnExternal").prop("href", "");
                        $("#btnExternal").hide();

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            },
            select: function (event, ui) {
                try {

                    var itemValues = ui.item.value.split(" - ");
                    $("#SearchItemnum").val(itemValues[0].trim());
                    $("#SearchDescription").val(itemValues[1].trim());
                    $("#SearchItemnumDescription").val(ui.item.value);
                    $("#btnSearch").trigger('click');

                } catch (e) {

                }

            }

        });


    </script>
}