@model MySqlBasicCore.Models.UserclaimViewModel

@{
    ViewData["Title"] = "Edit User Menu";
}
@using Microsoft.Extensions.Options;
@inject IOptions<Appsettings> Settings



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h3>@ViewData["Title"]</h3>
                </div>
                <div class="ibox-content">
                    <form method="post" asp-action="EditUserMenu">
                        @Html.HiddenFor(m => m.RoleId)

                        <div class="row">
                            <div class="form-group col-md-6">
                                <label asp-for="RoleName" class="control-label"></label>
                                <input asp-for="RoleName" readonly="readonly" class="form-control" 
                                       placeholder="RoleName"  />
                                <span asp-validation-for="RoleName" class="text-danger"></span>
                            </div>
                            <div class="col-lg-1" style="padding-top:30px;">
                                <button class="btn btn-primary btn-sm" type="submit">Update</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12" style="padding-left:0px;">
                                <table class="table table-striped table-bordered table-hover dataTables-example" id="tbl">
                                    <thead>
                                        <tr>
                                            <th width="20%">
                                                Menu
                                            </th>
                                            <th>
                                                 
                                                <div class="form-check abc-checkbox abc-checkbox-success" style="width:200px;">
                                                    <input  id="chkAll"
                                                           style="height:0px"
                                                           
                                                           onclick="checkAllFun()"
                                                           readonly="readonly" class="form-control"
                                                           placeholder="RoleName" type="checkbox" />
                                                    <label class="form-check-label" for="chkAll">
                                                        Select All
                                                    </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @for (int i = 0; i < Model.Menus.Count; i++)
                                        {
                                          
                                           
                                            <tr>
                                                <td>
                                                    <input asp-for="Menus[i].MenuId" 
                                                           style="display:none"
                                                           readonly="readonly" class="form-control"
                                                           placeholder="RoleName" />
                                                    @Model.Menus[i].Name
                                                </td>

                                                <td>
                                                    <div class="form-check abc-checkbox abc-checkbox-success">
                                                        <input asp-for="Menus[i].Ischecked" id="@Model.Menus[i].MenuId"
                                                               style="height:0px"
                                                               readonly="readonly" class="form-control"
                                                               placeholder="RoleName" type="checkbox" />
                                                        <label class="form-check-label" for="@Model.Menus[i].MenuId">

                                                        </label>
                                                    </div>

                                                </td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                           


                            @if (ViewBag.SuccessMessage != null)
                            {
                                <p class="text-primary">@ViewBag.SuccessMessage</p>
                            }
                            @if (ViewBag.ErrorMessage != null)
                            {
                                <p class="text-error">@ViewBag.ErrorMessage</p>
                            }

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <a class="btn btn-white btn-sm" asp-action="UserMenuList">Cancel</a>
                                    <button class="btn btn-primary btn-sm" type="submit">Update</button>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" href="~/lib/dataTables/datatables.min.css" />
        <link href="~/css/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
        <style>
            .abc-checkbox-success input[type="checkbox"]:checked + label::before, .abc-checkbox-success input[type="radio"]:checked + label::before {
                background-color: #1ab394;
                border-color: #1ab394;
            }
        </style>
    </environment>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/dataTables/datatables.min.js"></script>
    <script src="~/lib/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

        var SuccessMessage = '@ViewBag.SuccessMessage';
        var ErrorMessage = '@ViewBag.ErrorMessage';
        if (SuccessMessage) {
            swal(SuccessMessage, "", "success");
           setTimeout(function () { window.location.href = "@Settings.Value.WebBaseURL/UserSetting/UserMenuList"; }, 750);

        }
        if (ErrorMessage) {
            swal(ErrorMessage, "", "error");
            }

         $('#tbl').DataTable({
            "scrollY": "" + (window.outerHeight - 375) + "px",
            "scrollCollapse": true,
             paging: false,
            searching: false
            });

        });

        function checkAllFun() {
            var checkAll = $("#chkAll").prop('checked');
            $("input[type='checkbox']").each(function() { $(this).prop('checked',(checkAll)) });

        }
    </script>
}

